<div ng-controller="SimpleTranslation.Pairs.Controller">
    <div class="umb-panel-header umb-editor-header">
        <div class="umb-panel-header-content-wrapper">
            <div class="umb-panel-header-content">
                <div class="umb-panel-header-left-side">
                    <div class="umb-panel-header-title-wrapper">
                        <div class="umb-panel-header-name">Pairs</div>
                    </div>
                </div>
                <div class="btn-toolbar umb-btn-toolbar" ng-show="isEditor">
                    <div class="message">
                        <span>{{ sendMessage }}</span>
                        <a class="btn btn-primary btn" ng-click="sendToTranslation()">Send To Translation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="umb-panel-body umb-scrollable row-fluid">
        <div class="umb-pane">
            <div class="form-search">
                <i class="icon-search"></i>
                <input type="text" placeholder="Type to search for keys and translation text" class="umb-search-field search-query search-input" ng-model="searchTerm"/>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th width="300px">Key</th>
                    <th ng-repeat="x in languages" width="40px">
                        <p>{{ x.languageCultureName }}</p>
                        <a href="#" ng-click="sendToTranslationWholeLanguage( {{x.id}} )" title="Send all keys for {{ x.languageCultureName}} to translation">
                            <i class="icon-arrow-right icon-green"></i>
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody ng-repeat="x in keys | filter: searchTerm">
                <tr>
                    <td>
                        <label><input type="checkbox" ng-change="checkKey(x)" ng-model="x.master" ng-show="isEditor"> {{ x.key }}</label>
                    </td>
                    <td ng-repeat="lang in languages">
                        <div ng-switch="x.translationTexts[lang.id].length > 0">
                            <a ng-switch-when="true" href="#" ng-click="getNewProposalForm(x, lang)">
                                <i class="icon-check icon-green" title="{{ x.translationTexts[lang.id] }}"></i>
                            </a>
                            <a ng-switch-default href="#" ng-click="getNewProposalForm(x, lang)">
                                <i class="icon-wrong icon-red" title="Not translated"></i>
                            </a>
                            <span>
                                <input type="checkbox" ng-model="x[lang.id]" ng-show="isEditor && !x.translationTasks[lang.id]">
                            </span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>