<div ng-controller="SimpleTranslation.Tasks.Controller">
    <div class="umb-panel-header umb-editor-header">
        <div class="umb-panel-header-content-wrapper">
            <div class="umb-panel-header-content">
                <div class="umb-panel-header-left-side">
                    <div class="umb-panel-header-title-wrapper">
                        <div class="umb-panel-header-name">Translation Tasks</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="umb-editor-container umb-panel-body umb-scrollable row-fluid scrollable">
        <div class="umb-pane">
            <table class="table">
                <thead>
                <tr>
                    <th>Key</th>
                    <th>Language</th>
                    <th></th>
                    <th>Latest proposal</th>
                    <th>Your latest proposal</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in data">
                    <td>{{ x.key }}</td>
                    <td>{{ x.language }}</td>
                    <td>
                        <form ng-submit="createProposal(x)">
                            <div class="input-append">
                                <input type="text" placeholder="Your proposal..." ng-model="x.value"/>
                                <button type="submit" title="Create proposal for {{ x.key }} in {{ x.language }}">
                                    <i class="icon-arrow-right icon-green"></i>
                                </button>
                            </div>
                        </form>
                    </td>
                    <td>{{ x.latestProposal.value }}</td>
                    <td>{{ x.latestPersonalProposal.value }}</td>
                    <td>
                        <a href="#" ng-click="deleteTask(x.primaryKey)">
                            <i class="icon-wrong icon-red"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>