<div ng-controller="SimpleTranslation.Tasks.Controller">
    <div class="umb-panel-header umb-editor-header">
        <div class="umb-panel-header-content-wrapper">
            <div class="umb-panel-header-content">
                <div class="umb-panel-header-left-side">
                    <div class="umb-panel-header-title-wrapper">
                        <div class="umb-panel-header-name">Translation Tasks</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="umb-panel-body umb-scrollable row-fluid">
        <div class="umb-pane">
            <form class="form-search ng-pristine ng-valid" ng-submit="filter()">
                <i class="icon-search"></i>
                <input type="text" placeholder="Type to search for keys" class="umb-search-field search-query search-input" ng-model="filterString"/>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th>Key</th>
                    <th>Language</th>
                    <th></th>
                    <th>Latest proposal</th>
                    <th>Your latest proposal</th>
                    <th ng-show="canDiscard"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in showData">
                    <td>{{ x.key }}</td>
                    <td>{{ x.language }}</td>
                    <td>
                        <form ng-submit="createProposal(x)">
                            <div class="input-append">
                                <input type="text" placeholder="Your proposal..." ng-model="x.value"/>
                                <button type="submit" title="Create proposal for {{ x.key }} in {{ x.language }}">
                                    <i class="icon-arrow-right icon-green"></i>
                                </button>
                            </div>
                        </form>
                    </td>
                    <td>
                        <a class="link" href="#" ng-click="getProposalsForTask(x.id, x.languageId)">View proposals...</a>
                    </td>
                    <td>{{ x.latestPersonalProposal.timestamp | utc | date : 'dd/MM/yy @ HH:mm' }}</td>
                    <td ng-show="canDiscard">
                        <a href="#" ng-click="deleteTask(x.primaryKey)">
                            <i class="icon-wrong icon-red"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>