<div ng-controller="SimpleTranslation.UserSettings.Controller">
    <div class="umb-panel-header umb-editor-header">
        <div class="umb-panel-header-content-wrapper">
            <div class="umb-panel-header-content">
                <div class="umb-panel-header-left-side">
                    <div class="umb-panel-header-title-wrapper">
                        <div class="umb-panel-header-name">Translation Languages for {{ user.userName }}</div>
                    </div>
                </div>
                <div class="btn-toolbar umb-btn-toolbar">
                    <div class="message">
                        <span>{{ saveMessage }}</span>
                        <a class="btn btn-primary btn" ng-click="save()">Save</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="umb-panel-body umb-scrollable row-fluid">
        <div class="umb-pane">
            <div class="control-group umb-control-group">
                <div class="umb-el-wrap">
                    <label class="control-label">Role</label>
                    <div class="controls controls-row">
                        <select ng-model="selectedRole" ng-options="option.id as option.title for option in roles"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="umb-pane" ng-if="selectedRole == 2">
            <div class="control-group umb-control-group">
                <div class="umb-el-wrap">
                    <label class="control-label">Translation Languages</label>
                    <div class="controls controls-row">
                        <div ng-repeat="x in languages">
                            <label><input type="checkbox" ng-init="x.checked = (selectedLanguages.indexOf(x.id) >= 0)" ng-model="x.checked">{{ x.languageCultureName }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>